$ms-font-size-12: 12px;
$ms-font-size-14: 14px;
$ms-font-size-16: 16px;
$ms-font-size-18: 18px;
$ms-font-size-20: 20px;
$ms-font-size-22: 22px;
$ms-font-size-24: 24px;

$ms-color-primary: #096dd9;
$ms-color-secondary: #096dd9;
